body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

div {
  display: block;
}

p {
  font-weight: lighter;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.jumbotron {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  height: 520px;
}

.brand h4 {
  color: #083451;
  vertical-align: middle;
}

.logo {
  position: relative;
  margin-top: 0;
  color: #083451;
}

.top_nav {
  position: relative;
  margin-top: 3px;
}

.top_nav a {
  font-size: 18px;
  font-weight: bold;
  color: #083451;
  vertical-align: bottom;
}

.top_nav a:link, a:visited {
  text-decoration: none;
  color: #083451;
  font-weight: lighter;
}

.top_nav a:hover {
  text-decoration: none;
  color: #131313;
}

.top_nav a:active {
  text-decoration: none;
  color: #c7c7c7;
}

.top_nav img {
  vertical-align: text-top;
}

.search {
  vertical-align: text-top;
}

.heading {
  color: #fff;
  margin-top: 110px;
  height: 100%;
}

.heading h1 {
  font-size: 7em;
  color: #fff;
}

.heading h5 {
  color: #083451;
  font-weight: lighter;
  font-size: 16px;
}

header {
  text-decoration: none;
}

#blog {
  position: relative;
  width: 660px;
}

#blog h1 {
  font-size: 5em;
}

#blog a {
  color: #2085d7;
}

#blog a:hover {
  text-decoration: none;
  background-color: yellow;
}

blockquote {
  color: #106DB3;
  font-size: 30px;
}

.sidebar {
  position: relative;
  background-color: yellow;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer h1 {
  font-size: 5em;
  font-weight: lighter;
  color: #083451;
}

.footer_rights {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #083451;
  color: #e4e4e4;
}
